{% extends "base.html" %}
{% load static %}
{% block title %}   Sign Up  {% endblock %}
{% block nav_button %}  <a class="btn btn-outline-light" href="{% url 'login' %}">Log in</a>  {% endblock %}
{% block content %}
    <!-- Centered Signup Card -->
<div class="d-flex justify-content-center align-items-center mt-5" style="height: 80vh;">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title text-center text-info mb-4">Sign Up</h2>
            <form method="POST" id="signupform">
                {% csrf_token %}
                <!-- Username Field -->
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="id_username" required>
                </div>

                <!-- Password Field -->
                <div class="mb-3">
                    <label for="id_password1" class="form-label">Password</label>
                    <input type="password" name="password1" class="form-control" id="id_password1" required>
                </div>

                <!-- Confirm Password Field -->
                <div class="mb-3">
                    <label for="id_password2" class="form-label">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="id_password2" required>
                </div>

                <div class="alert" role="alert" id="message">
                    
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-info w-100">Sign Up</button>
            </form>
            <p class="mt-3 text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    const loginUrl = "{% url 'login' %}";
</script>

<script src="{% static 'auth/validate.js' %}"></script>
{% endblock %}
