<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to AI Chat App{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-fluid m-0 p-0">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <!-- Logo or App Name -->
                <a class="navbar-brand text-white" href="{% url 'base' %}">AI Chat App</a>
                
                <!-- Sign Up Button -->
                <div class="d-flex ms-auto ">
                    {% block nav_button %}
                    <a class="btn btn-outline-dark " href="{% url 'login' %}" style="margin-right: 10px;">Log in</a> 
                    <a class="btn btn-outline-light" href="{% url 'tokenbalance' %}">Check Token Balance</a>
                    {% endblock %}
                </div>
            </div>
        </nav>

        {% block content %}
        <!-- Centered Welcome Text -->
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="text-center">
                <h1 class="display-4 text-info">Welcome to AI Chat App</h1>
                <p class="lead">Get Started by signing up!</p>
                
                <a class="btn btn-outline-info" href="{% url 'tokenbalance' %}">Token Balance</a>
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Get Started</a>
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>
